body,div,dl,dt,dd,ul,li,p,h1,h2,h3,h4,h5,input,img,form{margin:0;padding:0;}
body{font-size:12px;font-family:Verdana, Geneva, sans-serif;color:#666;}

#header{
    width: 100%;
    height: 60px;
    background-color: #e5e5e5;
}
#header .container{
    margin-left: 200px;
    margin-right: 200px;
}

#header .container .left{
    float: left;
    margin:0 auto;
    width: 50%;
}
#header .container .left li{
    padding-right: 15px;
    float: left;
    text-decoration: none;
    list-style: none;
}
#header .container .right{
    float:right;
    text-align: right;
    width: 50%;
}
#header .container .right li{
    padding-left: 15px;
    float: right;
    list-style: none;
}
#logo{
    width: 100%;
    margin:0 auto;
    height: 120px;
}
#logo .container{
    height: inherit;
    margin-right: 200px;
    margin-left: 200px;
}
#logo .container .left{
    float: left;
}
#logo .container .right{
    float: right;
}
#mainer{

}

#footer{

}